################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PGDS/PGDS.sln
/PGDS/PGDS.VC.VC.opendb
*.pyc
/PGDS/PGDS.VC.db
